
<h2 class="mt-2 text-center">Web Application</h2>

<div class="ms-2 container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card mt-3">
        <h5 class="card-header">BMI Calculator</h5>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Enter your information</h6>
          <div>
            <div>
              <label class="fw-bold">Name</label>
              <input class="form-control" type="text" [(ngModel)]="name">
            </div>

            <div class="mt-2">
              <label class="fw-bold">Weight</label>
              <input class="form-control" type="number" [(ngModel)]="weight">
            </div>

            <div class="mt-2">
              <label class="fw-bold">Height</label>
              <input class="form-control" type="number" [(ngModel)]="height">
            </div>
          </div>
          <div class="text-center mt-2">
            <lib-buttons [label]="'Calculate BMI'" [btnColor]="'btn-primary'" (onClick)="calcBMI()"></lib-buttons>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
        <lib-accordion [headerText]="'Body Mass Index (BMI)'" [bodyText]="'Body Mass Index (BMI) is a persons weight in kilograms (or pounds) divided by the square of height in meters (or feet). A high BMI can indicate high body fatness. BMI screens for weight categories that may lead to health problems, but it does not diagnose the body fatness or health of an individual.'" [id]="'accordion'"></lib-accordion>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <div class="card mt-4">
        <h5 class="card-header">BMI Calculator Output</h5>
        <div class="card-body">
          <div>
            <div>
              <label class="fw-bold">Name</label>
              <br>
              {{name}}
            </div>
            <h4 *ngIf="bmi" class="mt-2">BMI: {{bmi}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
