<div class="uc__wrapper">
  <div class="uc__details">
      <h1 class="title">Coming Soon!</h1>
      <h3 class="intro">
          We are working hard to give you a better experience.
      </h3>
      <div class="uc__subscribe">
          <h3>Get Notified When We Go Live</h3>
          <div class="uc__form">
              <form action="#">
                  <input type="email" class="email" placeholder="Email Address..">
                  <lib-buttons [label]="'Get Notified'" (onClick)="onNotify()">
                  </lib-buttons>
              </form>
          </div>
      </div>
      <div class="w-75 mt-2">
        <lib-accordion [headerText]="'Thank you...'" [bodyText]="'We are working hard on it & the site may go live very soon. We promise, it will be worth the wait!'" id="accordion">
        </lib-accordion>
      </div>
  </div>
  <div class="uc__art">
      <img src="../assets/uCrw4HKw.png" alt="constructor">
  </div>
</div>